
<div class="row">
<div class="col-md-12">
    <h1 class="display-4" style="text-align: center;color: #174873">Welcome to SARVM Scholarship Scheme!</h1>
    <p class="lead" style="text-align: center;color: #174873">A learning community dedicated to building respectful and responsible citizens and empowering all learners.</p>
</div>
</div>
<br><br>

<div class="row">
    <div class="col-md-6">

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <!--<div class="alert alert-warning" *ngSwitchCase="false">-->
                <!--<span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>-->
                <!--<a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>-->
            <!--</div>-->
        </div>

        <h2 style="color: #174873;
                   font-size: 34px;
                   font-weight: 600;
                   margin: 0 0 20px 0;
                   padding-bottom: 5px">
            About SARVM
        </h2>
        <p style="font-size: 1.2em;
                  color: #686969;
                  line-height: 21px;
                  letter-spacing: 0.25px;
                  text-align: justify;
                  display: block">
            Sarvm scholarship scheme aims to give scholarship to those students who are well
            capable to achieve their goals but they don't have enough money to fund their education.
            sarvm scholarship scheme tries to be your helping hand so that students who are capable,
            don't have to face difficulties in achieving goals. Government organisations are giving
            many scholarship on the basis of caste and creed but Sarvm scholarship scheme gives fair
            chance to every student who are in need of money for achieving their goals. Sarvm
            scholarship scheme is conducting a examination in whole bihar and on the basis of this
            examination we are going to give scholarship to meritious student.
        </p>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-2" style="margin-top: 4rem">
        <div class="row">
            <button class="btn btn-primary" style="width: 80%">Register Now</button>
        </div>
        <div class="row" style="margin-top: 1rem;text-align: center">
            <p style="width: 80%;
                      color: #174873;
                      font-size: 24px;
                      font-weight: 600;">OR</p>
        </div>
        <div class="row">
            <button class="btn btn-info" style="width: 80%">Sign in</button>
        </div>
    </div>

    <div class="col-md-2" style="border: solid 2px black; margin-left: 2rem; padding: 0">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color: #337ab7">
                <h3 class="panel-title" style="color: white; text-align: center">Latest News</h3>
            </div>
        </div>
        <ul>
            <marquee direction="up" scrollamount="5">
                <li>
                    <a href="#">News 1</a>
                </li>
                <li>
                    <a href="#">News 2</a>
                </li>
                <li>
                    <a href="#">News 3</a>
                </li>
                <li>
                    <a href="#">News 4</a>
                </li>
                <li>
                    <a href="#">News 5</a>
                </li>
            </marquee>
        </ul>
    </div>
</div>



